/* landing page */
.landing-header {
	background-color: #00957B;
	//width:100%;
	margin-top: 0px;
	background-image: url('http://farm6.staticflickr.com/5021/5676931022_f1ae2f264e_b.jpg');
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 30px;
	//padding-bottom: 50px;
}

.testimonial {
	margin-bottom: 100px;
}

img.radius {
	border:3px solid #00957B;
	height: 90px;
	border-radius: 37.5px;
}

.register {
	background-color: #F8F5DD;
}

.home-logo {
	height: 150px;
}

h1.superbig {
	font-size: 50px;
	color: #222222;
	margin-bottom: 0px;
	margin-left: -33%
}

h1.superbig + h2 {
	margin-left: -33%;
	color: #222222;
	margin-top: 0px;
	margin-bottom: 50px;
}

h1.landing-page {
	color: #00957B;
}

.form * h1 {
	font-size: 20px;
	color: #00957B;
}

h1.form {
	color: #FCFBF2;
	margin-bottom: 30px;
}

h2.form {
	color: #002C25;
}

h1.form.button {
	color: #002C25;
	border: 3px solid #002C25;
	border-radius: 8px;
	background-color: #FCFBF2;
	margin-bottom: 100px;
}

h1.form.button:hover {
	background-color: #ECE9D2;
}

h1.form {
	font-size: 30px;
}

button.button.register {
	border-radius: 4px;
	background-color: #FCFBF2;
	color: #00957B;
	border: 1px solid #002C25;
	color: #002C25;
	height: 40px;
	font-size: 15px;
	margin: 0px;
	padding: 5px;
	width: 150px;
}

.form input {
	margin: 0px;
}

.section {
	background-color: #F8F5DD;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
}

.divider {
	background-color: #ECE9D2;
	//min-height: 13px;
	font-size: 20px;
	font-weight: bold;
}

h1.section-title {
	color: #002C25;
}

.footer, .footer h1 {
	background-color: #002C25;
	color: #FCFBF2;
}

/* */


body {
	background-color: #ECE9D2;
	font-family: Helvetica;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

::-webkit-input-placeholder {
   color: #535353;
}

:-moz-placeholder { /* Firefox 18- */
   color: #535353;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #535353;
}

:-ms-input-placeholder {
   color: #535353;
}
.joyride-tip-guide p{
	color: #535353;
}
.joyride-tip-guide{
	background-color:#FFF5E2;
	width: 60%;
	border: 2px black solid;
	z-index: 98;
}


.logo {
	height: 75px;
	margin-left: 11%;
	padding: 5px;
}

.row-panel {
	background-color: #FCFBF2;
	margin-bottom: 30px;
	border-radius: 4px;
	//box-shadow: inset 0 0 10px #000000;
}

.bottom {
	font-size: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.title {
	background-color: #00957B;
	//margin-bottom: 20px;
	width: 100%;
	border-bottom: 4px solid #22B49E;
}

.main {
	padding: 20px;
}

p:first-child {
	padding: 10px;
}

.nav-title {
	font-size: 30px;
	color:white;
	margin-left: 11%;
}
.title h2{
	color: white;
}
h2 {
	font-size: 30px;
}

h3, h3 ~ p {
	color: #535353;
}

h4 {
	color: #7C7C7C;
	font-size:1em;
}

input[type="text"].process {
	border: 1px solid black;
	border-radius: 4px;
}

a.button.spruce-btn, button.button.spruce-btn {
	border: 2px solid black;
	background-color: transparent;
	color: black;
	min-width: 100%;
}


button[disabled="disabled"].button {
	background-color: #F2F2F2;
	border-color:  #BEBEBE;
	color: #BEBEBE;
}

button[disabled="disabled"].button:hover {
	background-color: #F2F2F2;
	border-color:  #BEBEBE;
	color: #BEBEBE;
}

button[disabled="disabled"].button:active {
	background-color: #F2F2F2;
	border-color:  #BEBEBE;
	color: #BEBEBE;
}

a.button:hover, button.button:hover {
	background-color: black;
	color: #FCFBF2;
	box-shadow: none;
}

.help {
	background-color: #F5F4EA;
	height: 100%;
}

.help-list {
	margin-left: 40px;
	color: #535353;
}

.main-title:first-letter {
	font-size: 155px;
}

/* Top Bar Styles */
.top-bar{
	background:  #00957B;
	margin-bottom: 0px;
}

.top-bar-section li a:not(.button) {
	background: #00957B;
}

/* CBT Form Styles */
.large-icon{
	font-size: 5em;
}
.fat-row{
	min-height: 91px;
}
legend.hidden {
	border:none;
	display: none;
}
fieldset.hidden {
	border:none;
	margin: 0;
	padding: 0px 20px 0px 0px;
}

textarea.feelings, textarea.thoughts {
	border: 1px solid black;
	border-radius: 4px;
	height: 75px;
}

/* entry page */
.tall-textarea{
	height: 130px;
}
.blue-icon{
	color:blue;
}
.introHelp {
	width: 60%px;
	max-height: 30%;
	border: 2px solid black;
	margin-right: auto;
	margin-left: auto;
}

/* emotion entry */
.emotion-basket ul {
	overflow:auto;
}

.emotion-basket {
	border-radius: 8px;
	padding: 5px;
	border: 3px dashed #E8E5CE;
	min-height: 50px;
	margin-bottom: 25px;
}

.emotion {
	float:left;
	border: 1px solid #9D9D9D;
	padding: 4px;
	margin: 4px;
	list-style: none;
}

ul#emotion-list {
	margin: 0;
}

div.row.entry {
	margin-top: 50px
}

.feeling {
	line-height: 30px;
}

/* review stage */
a.button.pass {
	background-color: #00CB72;
	color: white;
}

span.pass {
	color: #00CB72;
}

a.button.fail {
	background-color: #E74055;
	color: white;
}

span.fail {
	color: #E74055;
}

/* home */
div#myModal {
	margin-top: -75px;
}

.equation {
	font-size: 150px;
	text-shadow: 5px 0 #696969;
}

.equation-text {
	font-size: 23px;
	font-weight: bold;
}

div.row.copy {
	padding-top: 60px;
}

.copy-one {
	border-right:1px dotted black;
}

a.button.start {
	margin-top: 30px;
	min-width: 350px;
	font-size: 30px;
}

/* progress bar */
.form-progress .stepSelected {
	border-color: #00957B;
	background-color: #FFF5E2;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	color: #00957B;
}

.form-progress .stepComplete {
	color: #EDEDED;
	background-color: #00957B;
}

.form-progress .stepDisabled {
	background-color: #EDEDED;
	color: #D2D2D2;
	border-color: #D2D2D2;
}

.progress-bar {
	margin-top: 20px;
}

.no-style-list {
	list-style: none;
}
.step {
	font-size: 20px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	line-height: 95px;
	background-color: #FCFBF9;
	border: 3px solid #00957B;
}

/* login and register page */
.getStarted fieldset {
	border: 0;
}

.getStarted legend {
	background-color: transparent;
	font-size: 25px;
}

/*animation*/
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
}

.check-element {
  padding:10px;
  border:1px solid black;
  background:white;
  }
