
  <div class="row row-panel header">
    <div class="large-12 columns text-center">
      <h2>Your dashboard</h2>
    </div>

  </div>

  <div class="row row-panel main">
    <div class="large-12 columns text-center">
        <a href="#/entries/new" class="button spruce-btn">Make a new entry.</a>
    </div>

    <div class="large-12 columns">
        <h3>History</h3>

        <table>
          <thead>
            <tr>
              <th>You Said</th>
              <th>You Felt</th>

            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(i, entry) in entries">
              <td><a ng-href='#/entries/{{entry.id}}'>{{entry.concern}}</a></td>
              <td><span ng-repeat='emotion in entry.emotions'>{{emotion}} </span></td>
            </tr>
          </tbody>
        </table>

    </div>
  </div>