<div ng-controller="HomeCtrl" ng-init="">
      <div class="large-8 columns title">
        <h1>Spruce</h1>
            <div class="large-1 columns">
        </div>
      </div>


    <div class="row row-panel header">
      <div class="large-12 columns text-center">
        <h2>Take control of your thoughts</h2>
      </div>

    </div>

    <div class="row row-panel main">
      <div class="large-12 columns text-center">
          <span class="equation">A + B = C</span>
          <p class="equation-text">your Actions + your Beliefs = emotional Consequences</p>
      </div>
        <div class="large-6 columns copy-one">
            <h3>What does it do?</h3>
            <p>Spruce helps you combat your negative thoughts and emotions. Spruce can help you to deal with your feelings of unwarranted sadness and anxiety in safe and convenient manner.</p>
        </div>
        <div class="large-6 columns copy-two">
            <h3>How does Spruce work?</h3>
            <p>We take you through a guided process that helps you identify the thoughts at the root of your troubling emotion. Once those thoughts are identified, Spruce helps you to look at your thoughts in a rational & sensible way.</p>
        </div>
      <div class="large-12 columns text-center">
          <a href="#/get-started" class="button start">Get started</a>
      </div>
    </div>
</div>