				<div id="introModal" class="reveal-modal">
					<h2>Welcome to Spruce</h2>
					<p class="lead">We're taking you straight into the solution process. The tool works most effectively when you deal with whatever is most pressing. If there's a specific event you want to deal with, then use that. Otherwise use whatever incident troubled you most in the past 24 hours and use that to answer the questions.</p>
					<p class="lead">Spruce is based on a mental model of the mind that states that it's not what happens to us, but the way we interpret it that makes us feel the way we do.</p>
					<p class="lead">The process will ask you to detail a situation that has upset you, then identify how your interpretation might have made you upset. To help change this interpretation you'll be prompted with some suggestions of how to make your thinking more rational in this particular case.</p>
					<button class="button" ng-click="closeModal();">Start the process</button>
					<a class="close-reveal-modal">&#215;</a>
				</div>