.main-title {
	font-size: 50px;
	font-size: 130px;
	text-transform: uppercase;
}
.main-title:first-letter {
	font-size: 155px;
}

/* CBT Form Styles */
.form-progress .stepSelected{
	border-color: #2ba6cb;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.form-progress-step{
	border-width: 3px;
	}