
  <div class="row row-panel header">
    <div class="large-12 columns text-center">
      <h2>Your dashboard</h2>
    </div>

  </div>

  <div class="row row-panel main">
    <div class="large-12 columns text-center">
        <a href="#/entries/new" class="button spruce-btn">Write new entry</a>
    </div>

    <div class="large-12 columns">
        <h3>History</h3>

        <table class="history-table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Situation</th>
              <th>Feelings</th>
              <th>Useful?</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-hide="loadedHistory.state" class="text-center">
              <td></td>
              <td>We're loading your history now</td>
            </tr>
            <tr ng-repeat="(i, entry) in entries">
              <td>{{entry.createdAt | date:medium}}</td>
              <td><a ng-href='#/entries/{{entry.id}}'>{{entry.concern}}</a></td>
              <td><span ng-repeat='emotion in entry.emotions' class="emotions">{{emotion}}</span></td>
              <td>{{entry.useful}}</td>
            </tr>
          </tbody>
        </table>

    </div>
  </div>