<div class="large-8 columns title">
<a href="#/" class="logo">Spruce</a>      <div class="large-1 columns">
  </div>
</div>


  <div class="row row-panel header">
    <div class="large-12 columns text-center">
      <h2>Your dashboard</h2>
    </div>

  </div>

  <div class="row row-panel main">
    <div class="large-12 columns text-center">
        <a href="#/entries/new" class="button">Make a new entry.</a>
    </div>

    <div class="large-12 columns">
        <!--h3>History</h3-->

    </div>
  </div>