<div ng-controller="HomeCtrl" ng-init="">
    <!--<div class="large-12 columns header"><img class="home-logo" src="/app/img/spruce.png" /></div>-->
    <div class="large-12 columns header text-center">

      <h1 class="superbig">Feel better</h1>
      <h2>by countering irrational thinking</h2>

      <h1 class="form">Try it for free now</h1>

      <div class="row form">
        <div class="large-2 columns"><label class="right inline"><h1>Your email</h1></label></div>
        <div class="large-3 columns"><h1><input type="text" class="header-register"></h1></div>
        <div class="large-2 columns"><label class="right inline"><h1>Password</h1></label></div>
        <div class="large-3 columns"><h1><input type="text" class="header-register"></h1></div>
        <div class="large-2 columns"><h1><button class="button register">Register</button></h1></div>
      </div>
    </div>

    <div class="large-12 columns text-center">
      <h1 class="landing-page"><span ng-click="scrollTo('more')">Find out more about Spruce ↓</span></h1>
    </div>

      <div class="large-12 columns section">

      <div class="row">
        <div class="row">
          <div class="large-6 columns text-center">
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <h2 class="section-title">Thoughts create emotions</h2>
            <p>It's not what happens to you, but how you think about it that makes you feel the way you do. By changing the automatic thoughts you have in response to circumstances, you can change the way you feel.</p>
          </div>
          <div class="large-4 columns">
            <h2 class="section-title">Change your thoughts</h2>
            <p>Use Spruce with a troubling concern to challenge your irrational thoughts and let go of anxiety and sadness. How? We'll ask you a series of questions about an upsetting situation, then we'll give you an exercise to help you revise your thoughts.</p>
          </div>
          <div class="large-4 columns">
            <h2 class="section-title">Keep a journal</h2>
            <p>You can go back to what you write at any time to review and consolidate your new more rational thinking. This helps in similar situations in the future.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="large-12 columns divider text-center">
    </div>

    <div class="large-12 columns section">
      <div class="row">
        <div class="row">
          <div class="large-4 columns">
            <h2 class="section-title">Convenient</h2>
            <p>You can start using the tool immediately. You can return to it at any time you need to. We've found that people use it about 2-3 times per week and feel the benefit after their first use.</p>
          </div>
          <div class="large-4 columns">
            <h2 class="section-title">Confidential</h2>
            <p>We understand that there are some things you want to talk about, and some you want to keep to yourself. Spruce is totally privately, so you can use it without worrying if your issues are embarassing or just trivial.</p>
          </div>
          <div class="large-4 columns">
            <h2 class="section-title">Who for?</h2>
            <p>Spruce is for everyone. It's effective for minor niggling issues like stress at work as well as more serious problems such as depression.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="large-12 columns footer text-center">
      <h1>Got more questions? <a href="mailto:tom.chambers@gmail.com">Email us</a></h1>
    </div>

</div>