<div ng-controller="HomeCtrl" ng-init="">


    <div class="row row-panel main">
      <div class="large-12 columns text-center">
          <h1 class="equation">Spruce</h1>
          <p class="equation-text">Spruce makes you feel better.</p>
      </div>
        <div class="large-6 columns">
            <h2>What's Spruce?</h2>
            <p>Spruce helps you combat negative thoughts and emotions.</p>
        </div>
        <div class="large-6 columns copy-two">
            <h2>How does Spruce work?</h2>
            <p>We believe that with practice, you can control what you think. So, we take you through a guided process that helps you identify the thoughts at the root of your troubling emotions, and help you look at them in a new way.</p>
        </div>
      <div class="large-12 columns text-center">
          <a href="#/get-started" class="button start">Get started</a>
      </div>
    </div>
</div>