<div ng-controller="HomeCtrl" ng-init="">


    <div class="row  main">
      <div class="row">
        <div class="large-6 columns  small-centered text-center">
        <p class="equation-text">Spruce makes you feel better.</p>
            <a class="th radius" href="#">
            <img src="img/spruce.png">
            </a>

        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="large-6 columns">
            <h2>What's Spruce?</h2>
            <ul>
              <li>
              Spruce helps you deal with your negative emotions.
            </li>
            <li>
              It's quick and convenient.
            </li>
            <li>
               And confidential.
              </li>
            </ul>
        </div>
        <div class="large-6 columns copy-two">
            <h2>How does Spruce work?</h2>
            <ul>
              <li>
                Emotions are a result of our thoughts. First, we help you identify what you’re thinking.
              </li>
              <li>
                Once you’ve identified what you’re thinking, we help you to look at your thoughts in a more rational way, which makes you feel better about them!
              </li>
            </ul>
        </div>
      </div>
      <div class="large-12 columns text-center">
          <a href="#/get-started" class="button start">Get started</a>
      </div>
    </div>
</div>