<div id="myModal" class="reveal-modal">
	<h2>Welcome to Spruce</h2>
	<p class="lead">
		We're taking you to your first dispute so you can try it out straight away. Don't worry if you don't have time right now, we'll be right here waiting for you when you're ready.
	</p>
	<p class="lead">
		Spruce is based on a mental model of the mind that states that it's not what happens to us, but the way we interpret it that makes us feel the way we do. In the process you'll write about a situation that has upset you, add what negative feelings it caused for you, then identify how your interpretation might have made you upset. Finally you'll be prompted with some suggestions of how to make your thinking more rational in this particular case. This will help you to worry less about the situation.
	</p>
	<h2>What happens to my data?</h2>
	<p class="lead">
		Everything you type is encrypted and stored securely on our servers. We'll never see your entries in a readable format, we don't store your IP address and we won't know who you are.
	</p>
	<button class="button" id="close-modal">Make me happy</button>
	<a class="close-reveal-modal">&#215;</a>
</div>