<div class="large-8 columns title">
	<h1>Spruce</h1>
	<div class="large-1 columns"></div>
</div>

<div ng-init="">
	<div class="row row-panel header">
		<div class="large-12 columns text-center progress-bar">
			<ol data-prog-steps="4" class="form-progress small-block-grid-4">
				<li>
					<div class="step radius" ng-class="{stepComplete: stage>
						1, stepSelected: stage==1}">
						Actions
					</div>
				</li>
				<div class="progressDivider"></div>
				<li>
				<div class="step radius" ng-class="{stepComplete: stage>
					2, stepSelected: stage==2, stepDisabled: stage
					<2}">Emotions</div>
				</li>
				<li>
					<div class="step radius" ng-class="{stepComplete: stage>
						3, stepSelected: stage==3, stepDisabled: stage
						<3}" >Beliefs</div>
					</li>
					<li>
						<div class="step radius" ng-class="{stepComplete: stage>
							4, stepSelected: stage==4, stepDisabled: stage
							<4}" >Change</div>
						</li>
					</ol>
				</div>
			</div>

				<div class="row row-panel main">
					<div class="large-7 columns">
						<div class="row">
							<div class="large-12 columns">
								<section ng-switch on="stage">
									<fieldset ng-switch-default class="hidden">
										<legend class="hidden"></legend>

										<div class="row" id="situationTextArea">
											<div class="large-12 columns">
												<h2>What situation made you upset?</h2>
												<textarea class="feelings" placeholder='' ng-model="cbtEntry.concern"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="large-5 columns text-center large-offset-7">
												<button class="small button" ng-click="$parent.stage='2'">Next step - emotions</button>
											</div>
										</div>
									</fieldset>
									<fieldset class="hidden" ng-switch-when="2">
										<legend class="hidden">Fieldset</legend>
										<div class="row">
											<div class="large-12 columns">
												<h2>What are you feeling about this?</h2>
												<h3>{{cbtEntry.concern}}</h3>
												<div class="emotion-basket">
													<ul id="emotion-list">
														<li class="emotion" ng-repeat="emotion in cbtEntry.emotions">{{emotion}}</li>
													</ul>
												</div>
												<form>
													<div class="row entry">
														<div class="large-10 columns">
															<div class="row">
																<div class="large-4 columns inline">
																	<label for="emotion-entry" class="right inline">I'm feeling</label>
																</div>
																<div class="large-8 columns">
																	<input class="process" ng-model="newEmotion" type="text" placeholder="" id="emotion-entry" list="emotions">
																	<datalist id="emotions">
																		<option value="angry"></option>
																		<option value="annoyed"></option>
																		<option value="unhappy"></option>
																		<option value="sad"></option>
																		<option value="melancholy"></option>
																		<option value="blue"></option>
																		<option value="pissed off"></option>
																		<option value="irritable"></option>
																		<option value="joyful"></option>
																		<option value="wonderful"></option>
																		<option value="angsty"></option>
																		<option value="anxious"></option>
																		<option value="worried"></option>
																		<option value="violent"></option>
																		<option value="wound up"></option>
																		<option value="joyless"></option>
																		<option value="cold"></option>
																		<option value="warm"></option>
																		<option value="loving"></option>
																		<option value="paranoid"></option>
																		<option value="unbearable"></option>
																		<option value="fed up"></option>
																		<option value="grumpy"></option>
																		<option value="fiery"></option>
																		<option value="powerless"></option>
																		<option value="weak"></option>
																		<option value="crushed"></option>
																		<option value="determined"></option>
																		<option value="effusive"></option>
																		<option value="great"></option>
																	</datalist>
																</div>
															</div>
														</div>
														<div class="large-2 columns">
															<button ng-click="addEmotion(newEmotion)" href="#" class="button prefix">Add</button>
														</div>
													</form>
												</div>
											</div>
											<div class="row">
												<div class="large-5 columns text-center large-offset-7">
													<button class="small button" ng-click="$parent.stage='3'">Next step - beliefs</button>
												</div>
											</div>
										</fieldset>
										<fieldset ng-switch-when="3" class="hidden">
											<legend class="hidden">Fieldset</legend>
											<div class="row">
												<div class="large-12 columns">
													<h2>What are your beliefs about this situation?</h2>
													<h3>Why do you believe you should be <em ng-repeat="emotion in cbtEntry.emotions">{{emotion}} </em></h3>
													<div class="emotion-basket">
														<ul>
															<li class="emotion" ng-repeat="belief in negativeBeliefsCopy">{{belief}}</li>
														</ul>
													</div>
													<form>
														<input type="text" class="thoughts process" id="beliefs-entry" placeholder="" ng-model="negativeBelief" />
														<button ng-click="addBelief(negativeBelief)" href="#" class="button prefix">Save this thought</button>
													</form>
												</div>
											</div>
											<div class="row">
												<div class="large-5 columns text-center large-offset-7">
													<button class="small button" ng-click="$parent.stage='4'">I'm done. Show me the next step.</button>
												</div>
											</div>
										</fieldset>
										<fieldset ng-switch-when="4" class="hidden">
											<legend class="hidden">Fieldset</legend>
											<div class="row">
												<div class="large-12 columns">
													<h3>Your Belief: <i>{{negBelief}}</i></h3>
													<div class="panel">
														<small>Dispute #{{getDistortionID(curDistortion)}}</small>
														<p id="rationalDisputeEntry" >{{curDistortion}} </p>
													</div>
													<p><strong>Can you think of a new belief?</strong></p>

													<textarea ng-show='showIsADistortion' ng-model="newthought"  placeholder="That's great: now think of a more rational version of what you said above, and write it down"></textarea>
													<button ng-show="showIsADistortion" ng-click="showIsADistortion=false; nextNegBelief(curDistortion, negBelief, newthought)" href="#" class="button prefix">Save this thought</button>
												</div>
											</div>
											<div class="row">
												<div class="large-6 columns">
													<button ng-hide="showIsADistortion" class="small button pass" ng-click=" newthought=''; showIsADistortion=true;">Yes, I've thought of a new belief</button>
												</div>
												<div class="large-6 columns">
													<button ng-hide="showIsADistortion" class="small button fail" ng-click="nextNegBelief(curDistortion, negBelief, ''); newthought=''">No</button>
												</div>
											</div>

										</fieldset>
										<fieldset ng-switch-when="5" class="hidden">
											<legend class="hidden">Fieldset</legend>
											<div class="row">
												<div class="large-12 columns">
													<h2>Review</h2>
													<p>
														So, <strong>{{cbtEntry.concern}}</strong>, and this made you feel: <strong ng-repeat="emotion in cbtEntry.emotions">{{emotion}}, </strong>
														and you thought this meant that:
														<ul>
															<li ng-repeat="(negBelief, distortionList) in cbtEntry.negativeBeliefs">
																<strong >{{negBelief}}</strong>, <em>however:</em>
																<ul>
																	<li>
																		<strong ng-repeat="dist in distortionList">{{dist['why']}}</strong>
																	</li>
																</ul>
															</li>
														</ul>
														Great!
													</p>
												</div>
											</div>
											<a class="button" href="#/dashboard">See record of previous problems</a>
										</fieldset>
									</section>
								</div>
							</div>
						</div>
						<div ng-switch on="stage">
							<div class="large-5 columns help" ng-switch-default>
							    <h3>What do I do here?</h3>
							    <p>Concisely describe a recent incident that is currently troubling you. Put exactly what happened in here. Don't write about feelings or what you think about yourself, only actions you performed.</p>

							</div>
							<div class="large-5 columns help" ng-switch-when="2">
							    <h3>What do I do here?</h3>
							    <p>Just write down anything and everything you're feeling at the moment, it doesn't matter if you think it's connected to the problem or not. This stage helps you to identify your feelings to start lifting them.</p>
							    <p>We'll come back to these later to see if they change after you've completed the process.</p>
							</div>
							<div class="large-5 columns help" ng-switch-when="3">
							    <h3>What do I do here?</h3>
							    <p>This step is all about finding the irrational thoughts that lead to unhealthy negative emotions.</p>
							    <p>Write down everything you can think of including other people might have thought, what could happen in the future and judgements you've made about yourself.</p>
							</div>
							<div class="large-5 columns help" ng-switch-when="4">
							    <h3>What do I do here?</h3>
							    <p>It's time for you to find the reasons why these thoughts that are making you upset might not be true. For each thought you've identified, there is a series of questions to test it. Imagine yourself as a lawyer questioning this thought in court. Using these questions, how might you undermine the case?</p>

							</div>
							<div class="large-5 columns help" ng-switch-when="5">
								<h3>That's it!</h3>
							    <p>You're done. Read carefully through the passage on the left to consolidate the new more rational thought.
							    <p>Did this help?</p>
							    <p>
							    	<a class="button pass">Yes, I feel better now</a> <a class="button fail">No, I feel the same/worse</a>
							   	</p>
							    <p style="display:none">
									<a class="button" href="#/dashboard">See record of previous problems</a>
								</p>
							</div>
							</div>
						</div>

					</div>
				</div>
				<div id="introModal" class="reveal-modal">
					<h2>Welcome to Spruce</h2>
					<p class="lead">We're taking you straight into the disputing process. The tool works most effectively when you deal with whatever is most pressing. If there's a specific event you want to deal with, then use that. Otherwise use whatever incident troubled you most in the past 24 hours and use that to answer the questions.</p>
					<p class="lead">Spruce is based on a mental model of the mind that states that it's not what happens to us, but the way we interpret it that makes us feel the way we do.</p>
					<p class="lead">The process will ask you to detail a situation that has upset you, then identify how your interpretation might have made you upset. To help change this interpretation you'll be prompted with some suggestions of how to make your thinking more rational in this particular case.</p>
					<button class="button" ng-click="closeModal();">Start the process</button>
					<a class="close-reveal-modal">&#215;</a>
				</div>
				<ol class="joyride-list" id="usageJoyride" data-joyride>

						  <li data-id="situationTextArea" data-options="tipLocation:top;tipAnimation:fade;" data-text="Got it.">

						  			<p>Exactly what upset you? Stick to facts like 'I wrote an essay and I got a D", not opinions like "I'm really bad at writing essays and I'll never do well at anything" (we'll deal with opinions later).</p>

						  </li>
						  <li data-id="emotion-entry" data-options="tipLocation:bottom" data-text="Got it.">

						  			<p>Be exhaustive and enter your feelings (e.g. angry, frustrated, sad etc...) one at a time.</p>

						  </li><li data-id="beliefs-entry" data-options="tipLocation:bottom" data-text="Got it.">

						  			<p>In what ways will {{cbtEntry.concern}} upset your life? e.g. "I am X", or "That person thinks Y" etc...</p>

						  </li>
						  <li data-id="rationalDisputeEntry" data-options="tipLocation:bottom" data-text="Got it.">

						  			<p>Based on this text, try hard to think of a new rational thought that replaces the belief shown above . e.g. "I was too focused on one extreme possibility, which I now realize is very unlikely to happen. Take some time to think about it.</p>

						  </li>

				</ol>

