				<ol class="joyride-list" id="usageJoyride" data-joyride>

						  <li data-id="situationTextArea" data-options="tipLocation:top;tipAnimation:fade;" data-text="Got it">
						  			<p><strong>Exactly what upset you? Stick to objective facts like "I forgot to book the plane tickets", not opinions like "I'm such an idiot because I'm so forgetful and now I've ruined the holiday" (we'll deal with feelings and opinions in the next two steps)</strong></p>
						  </li>
						  <li data-id="emotion-entry" data-options="tipLocation:bottom" data-text="Got it">

						  			<p><strong>Be exhaustive and enter your feelings (e.g. angry, frustrated, sad etc...) one at a time</strong></p>
						  </li>
						  <li data-id="beliefs-entry" data-options="tipLocation:bottom" data-text="Got it">
						  			<p>What do you think this about situation, "{{cbtEntry.concern}}" means? For example, beliefs about "I stuttered in my important presentation at work" could be, "My boss will think I'm stupid and not promote me", "my coworkers will laugh at me behind my back", "The project will fail and everyone will hate me"</p>
						  </li>
						  <li data-id="rationalDisputeEntry" data-options="tipLocation:bottom" data-text="Got it">
						  			<p>Look at these questions and then think about how they apply to your belief to see if you can change it in any way. For example, "I messed everything up totally at work" might become, "Although I didn't do my absolute best, it wasn't terrible either, it was just average and that's ok".</p>
						  </li>

				</ol>