<div class="large-8 columns title">
  <img src="/app/img/logo.png" class="logo" />
      <div class="large-1 columns">
  </div>
</div>

<div ng-controller="NewEntryCtrl">
	<div class="row row-panel header">
		<div class="large-12 columns text-center progress-bar">
			<ol data-prog-steps="4" class="form-progress small-block-grid-4">
				<li>
					<div class="step" ng-class="{stepComplete: stage>
						1, stepSelected: stage==1}" class="panel radius">
						Actions
					</div>
				</li>
				<div class="progressDivider"></div>
				<li>
					<div class="step" ng-class="{stepComplete: stage>
						2, stepSelected: stage==2, stepDisabled: stage<2}"class="panel radius">
						Emotions
					</div>
				</li>
				<li>
					<div class="step" ng-class="{stepComplete: stage>
						3, stepSelected: stage==3, stepDisabled: stage<3}" class="panel radius">
						Beliefs
					</div>
				</li>
				<li>
					<div class="step" ng-class="{stepComplete: stage>
						4, stepSelected: stage==4, stepDisabled: stage<4}" class="panel radius">
						Change
					</div>
				</li>
			</ol>
		</div>
	</div>

	<div class="row row-panel main">
	<div class="large-7 columns">
		<div class="row">
			<div class="large-12 columns">
			<form ng-switch on="stage">
				<fieldset ng-switch-default class="hidden">
					<legend class="hidden">Fieldset</legend>

					<div class="row">
						<div class="large-12 columns text-center">
							<label><h2>What situation upset you?</h2></label>
							<textarea class="feelings" placeholder="" ng-model="cbtEntry.concern"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="large-7 columns">200 characters maximum</div>
						<div class="large-5 columns text-center"><button class="small button" ng-click="$parent.stage='2'">Next</button></div>
					</div>
				</fieldset>
				<fieldset class="hidden" ng-switch-when="2">
					<legend class="hidden">Fieldset</legend>
					<div class="row">
						<div class="large-12 columns">
						<h2>What are you feeling?</h2>
							<div class="emotion-basket">
								<ul id="emotion-list">
									<li class="emotion" ng-repeat="emotion in cbtEntry.emotions">{{emotion}}</li>
								</ul>
							</div>
							<div class="row entry">
								<div class="large-10 columns">
									<div class="row">
										<div class="large-4 columns inline">
											<label for="emotion-entry" class="right inline">I'm feeling </label>
										</div>
										<div class="large-8 columns">
											<input class="process" ng-model="newEmotion" type="text" placeholder="angry" id="emotion-entry" list="emotions">
											<datalist id="emotions">
												<option value="angry">
												<option value="annoyed">
												<option value="unhappy">
												<option value="sad">
												<option value="melancholy">
												<option value="blue">
												<option value="pissed off">
												<option value="irritable">
												<option value="joyful">
												<option value="wonderful">
												<option value="angsty">
												<option value="anxious">
												<option value="worried">
												<option value="violent">
												<option value="wound up">
												<option value="joyless">
												<option value="cold">
												<option value="warm">
												<option value="loving">
												<option value="paranoid">
												<option value="unbearable">
												<option value="fed up">
												<option value="grumpy">
												<option value="fiery">
												<option value="powerless">
												<option value="weak">
												<option value="crushed">
												<option value="determined">
												<option value="effusive">
												<option value="great">
										</div>
									</div>
								</div>
								<div class="large-2 columns">
									<button ng-click="addEmotion(newEmotion)" href="#" class="button prefix">Add</button>
								</div>
							</div>
						</div>
					<div class="row">
						<div class="large-5 columns text-center large-offset-7"><button class="small button" ng-click="$parent.stage='3'">Next</button></div>
					</div>
					</fieldset>
					<fieldset ng-switch-when="3" class="hidden">
						<legend class="hidden">Fieldset</legend>
						<div class="row">
							<div class="large-12 columns">
								<h2>Why do you feel this way?</h2>
								<textarea class="thoughts" placeholder="Write it all down" ng-model="cbtEntry.negativeBeliefs"></textarea>
							</div>
						</div>
					<div class="row">
						<div class="large-5 columns text-center large-offset-7"><button class="small button" ng-click="$parent.stage='4'">Next</button></div>
					</div>
					</fieldset>
					<fieldset ng-switch-when="4" class="hidden">
						<legend class="hidden">Fieldset</legend>
						<div class="row">
							<div class="large-12 columns">
								<h2>Challenge your thoughts</h2>
								<textarea placeholder="small-12.columns"></textarea>
							</div>
						</div>
						<button class="small button" ng-click="$parent.stage='5'">Done</button>

					</fieldset>
					<fieldset ng-switch-when="5" class="hidden">
						<legend class="hidden">Fieldset</legend>
						<div class="row">
							<div class="large-12 columns">
								<h2>Review</h2>
								<p>So you <strong>got an F in your exam</strong> and you thought this meant that you were <strong>an utter failure</strong> and that <strong>you'd never succeed in anything again</strong>, but you realised that this was a <strong>catastrophic scenario</strong> because <strong>it wasn't actually likely</strong>. Now you understand that <strong>this was just a minor setback</strong></p>
							</div>
						</div>
					</fieldset>
				</form>
				</div>
			</div>
		</div>
		<div ng-switch on="stage">
			<div class="large-5 columns help" ng-switch-default>
				<a href="#" data-reveal-id="myModal">Click Me For A Modal</a>

			    <h3>What do I do here?</h3>
			    <p>Start by describing the situation that you think might have caused you to feel this way. It doesn't matter if it you think it might not be right, or if it seems to trivial to worry about - it's not always obvious what the source of the problem is. Only write down one situation and try to be concise about what happened. It might help you to visualise the situation in your mind so you can better remember what happened.</p>
			    <p>In this step, only write down things that could be proven in court which are totally objective. We'll come to your subjective inpretations of the situation in step 3. Objective details are things like what people did, not what they thought.</p>
			</div>
			<div class="large-5 columns help" ng-switch-when="2">
			    <h3>What do I do here?</h3>
			    <p>Just write down anything and everything you're feeling at the moment, it doesn't matter if you think it's connected to the problem or not. This stage helps you to identify your feelings to start lifting them.</p>
			    <p>We'll come back to these later to see if they change after you've completed the process.</p>
			</div>
			<div class="large-5 columns help" ng-switch-when="3">
			    <h3>What do I do here?</h3>
			    <p>This step is all about finding the irrational thoughts that lead to unhealthy negative emotions. You can write down everything in this part including what people might have thought or felt, what could happen in the future and what this means about you.</p>
			</div>
			<div class="large-5 columns help" ng-switch-when="4">
			    <h3>What do I do here?</h3>
			    <p>Now it's time to find the reasons why these thoughts that are making you upset might not be true. For each thought you identified, there is a series of questions to test it. Imagine yourself as a lawyer questioning this thought in court. How might you undermine the case?</p>
			    <p>You don't need to worry about your feelings or any other details right now. This part is important, so try to think carefully in each question about whether it's true.
			</div>
			<div class="large-5 columns help" ng-switch-when="5">
				<h3>That's it!</h3>
			    <p>You're done. Read carefully through the passage on the left to consolidate the new thoughts. 
			    <p>Did this help?</p>
			    <p>
			    	<a class="button pass">Yes, I feel better now</a> <a class="button fail">No, I feel the same/worse</a>
			   	</p>
			    <p style="display:none">
					<a class="button" href="#/dashboard">See record of previous problems</a>
				</p>
			</div>
		</div>
	</div>
		<div class="row" ng-controller="NewEntryCtrl">
			<div class="large-columns-12">
			</div>
		</div>
	</div>
</div><!-- controller div -->