<h2>Review</h2>
<p>
	So, you said '<strong>{{cbtEntry.concern}}</strong>', and this made you feel <strong ng-repeat="emotion in cbtEntry.emotions">{{emotion}}, </strong>
	and you had these thoughts about it:
	<ul>
		<li ng-repeat="(negBelief, distortionList) in cbtEntry.negativeBeliefs">
			<strong >{{negBelief}}</strong>, <em>however, You've realised this is:</em>
			<ul>
					<li ng-repeat="(dist, newThought) in distortionList['newThoughts']">
					<span >
						{{dist}}

						<ul>
							<li><em>So, you're now thinking: </em> <strong>{{newThought}}</strong></li>
						</ul>
						</span>
					</li>

			</ul>
		</li>
	</ul>
</p>