
<div class="row">
  <div class="small-6 columns">
    <form>
      <fieldset>
        <legend>Register</legend>
        <div class="row">
          <div class="small-4 columns">
            <div class="row">
              <label>Email address:</label>
              <div class="small-9 columns">
                <input type="text" placeholder="Email address">
              </div>
              <div class="small-3 columns">
                <span class="postfix">.com</span>
              </div>
            </div>
            <div class="row">
              <label>Password:</label>
              <div class="small-9 columns">
                <input type="text" placeholder="Email address">
              </div>
              <div class="small-3 columns">
                <span class="postfix">.com</span>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="small-6 columns">
    <form>
      <fieldset>
        <legend>Log in</legend>

        <div class="row">
          <div class="large-4 columns">
            <div class="row">
              <label>Email address:</label>
              <div class="small-9 columns">
                <input type="text" placeholder="Email address">
              </div>
              <div class="small-3 columns">
                <span class="postfix">.com</span>
              </div>
            </div>
            <div class="row">
              <label>Password:</label>
              <div class="small-9 columns">
                <input type="text" placeholder="Email address">
              </div>
              <div class="small-3 columns">
                <span class="postfix">.com</span>
              </div>
            </div>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>